@import "tailwindcss";

@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/NunitoSans-VariableFont_YTLC.ttf");
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.2s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

p {
  font-family: "NunitoSans", sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

h1 {
  font-size: 2rem !important;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem !important;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.2rem !important;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 1.1rem !important;
  font-weight: 700;
  margin: 0;
}
