@import "tailwindcss";

@font-face {
  font-family: "NunitoSans";
  display: swap;
  src: url("./fonts/NunitoSans-VariableFont_YTLC.ttf");
}

@keyframes fade-in-scale {
  0% {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    max-height: 500px; /* Set a large enough value */
    overflow: hidden;
  }
}

.fade-in-scale {
  animation: fade-in-scale 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden; /* Ensure content doesn't overflow during animation */
}

p {
  font-family: "NunitoSans", sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

div,
span,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NunitoSans", sans-serif !important;
}

h1 {
  font-size: 2rem !important;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem !important;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.2rem !important;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 1.1rem !important;
  font-weight: 700;
  margin: 0;
}
